@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

*{ font-family: 'Roboto', sans-serif; }

$color1 	: #f4d8d4; 
$color2     : #f3b639; 
$color3     : #ec967b;
$color4     : #cbe5d8;
$color5     : #cfd692;
$color6 	: #a1bf89; 
$color7     : #cfc9e3; 
$color8     : #06a9ba;
$color9     : #000000;


