@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


$font-1             : 'Patrick Hand', cursive;
$font-amatic        : 'Amatic SC', cursive;
$font-2             : 'Raleway', sans-serif;
$font-raleway       : 'Raleway', sans-serif;

$font-3            : 'Montserrat', sans-serif;
$font-montserrat   : 'Montserrat', sans-serif;

.amatic            { font-family: 'Amatic SC', cursive; }
.raleway           { font-family: 'Raleway', sans-serif; }
.font-amatic       { font-family: 'Amatic SC', cursive; }
.font-raleway      { font-family: 'Raleway', sans-serif;  }

.thin       { font-weight: 100; }
.extra-light{ font-weight: 200; }
.light      { font-weight: 300; }
.regular    { font-weight: 400; }
.medium     { font-weight: 500; }
.semi-bold  { font-weight: 600; }
.bold       { font-weight: 700; }
.extra-bold { font-weight: 800; }
.black      { font-weight: 900; }

$color-1  : #78c8d7;
$color-2  : #f9e1d9;
$color-3  : #154272;

$color-4  : #EFC1BB;
$color-5  : #F39F91;
$color-6  : #AA7068;

$color-8  : #CBEBF7;
$color-9  : #78C8D7;
$color-10 : #50858C;






